/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

ul.no-style {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul#post-list {
  margin-bottom: 2em;
}

  ul#post-list li {
    line-height: 1.75em;
  }

  ul#post-list span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Tag cloud
/*
/*****************************************************************************/

ul.tagcloud {
  list-style: none;
  padding: 0;
}

ul.tagcloud li {
  display: inline-block;
}

li.tag-1 {
  font-size: 150%;
}

li.tag-2 {
  font-size: 120%;
}

li.tag-3 {
  font-size: 100%;
}

li.tag-4 {
  font-size: 90%;
}

.tagcloud a {
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.home {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

header#banner {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .home header a {
    color: #a00;
    text-decoration: none;
  }

  .home header a:hover,
  .home nav a:hover {
    color: black;
  }

  .home header,
  .home nav {
    display: inline-block;
  }

  .home nav li {
	display: inline;
	margin-left: 1em;
  }

  .home nav a {
    color: #aaa;
    text-decoration: none;
  }

  .home nav a.active {
	border-bottom: 1px dashed;
	/* Put a text-shadow instead ? */
  }

  .home footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
	padding-top: 1em;
    overflow: hidden;
  }

	.home footer a {
        color: #8085C1;
    }

    .home footer .widget {
      float: left;
      margin-right: 5em;
    }

    .home footer .rss {
      float: right;
    }

      .home footer .rss img {
        border: 0;
		max-width: 60px;
		height: auto;
      }

	.home footer .blogroll {
	  clear: left;
	  padding-top: 2em;
	  line-height: 1.2em;
	}

	  .home footer .blogroll a {
		text-decoration: none;
		color: #aaa;
		font-style: italic;
	  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#content {

}

.post-info {
  color: #aaa;
  margin-bottom: 1em;
}

  .post-info abbr {
	text-decoration: none;
  }

.post-tags {
  color: #aaa;
  font-size: 90%;
  padding-top: 2em;
}

  .post-tags a {
	text-decoration: none;
  }

  /* standard */

  #content pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #content ul,
  #content ol {
    margin-left: 1.35em;
  }

  #content code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 90%;
    padding: 0 .2em;
  }

    #content pre code {
      border: none;
    }

  #content .highlight pre {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #content .highlight pre code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
